.vs/
*.suo
*.user
*.ncb
*.opensdf
*.sdf
*.tlog
*.idb
*.pdb
*.ipdb
*.obj
*.iobj
*.lib
*.exp
*.exe
*.dll
*.aps
*.bsc
*.ilk
*.vcprivate
*.vcxproj.user
[Dd]ebug/
[Rr]elease/
x64/
Build/
bin/
obj/

*.log

*.~